<h2>Show</h2>
<p>
	Article # <%= @article.id %>
</p>
<p>
	<%= @article.title %>
</p>
<p>
	<%= @article.text %>
</p><hr/>


<h3>Comments:</h3>	
<ul>
	<% @article.comments.each do |comment| %>
		<li>By: <%=comment.author %> | <%= comment.body %><% end %> </li>
	
</ul>

<%= link_to 'Show all articles', articles_path %><hr/>

<h4>Add new one:</h3>
<%= form_for ([@article, @article.comments.build]) do |f| %>
	

	<p>
		<%= f.label :author %><br/>
		<%= f.text_field :author %>
	</p>

	<p>
		<%= f.label :body %><br/>
		<%= f.text_area :body %>
	</p>

	<p>
		<%= f.submit %>
	</p><hr/>

<%end%>

